/* GLOBAL VAR */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-background:#08021A;
  --primary-color: white;
  --secondary-color:#d5d5d5;
}
/* MAIN */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body {
  background-color: var(--primary-background);
}

/* NAVBAR */
a {
    text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
}

.title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 25px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.link {
  padding-inline: 10px;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 18px;
}

.icon {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 5px
}